<div class="text-center">
  <button type="button" class="mb-2 btn btn-info" (click)="vista = !vista">Mostrar/Ocultar Datos</button>
<div *ngIf="vista">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{persona.nombre}}</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{persona.apellido}}</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{persona.edad}}</li>
  </ol>
</nav>
</div>
</div>